.first-column{
  float: left;
  display: block;
  width:600px;
  height: 600px;
  border:solid 1px;
  margin-left: 40px;
}
textarea{
  display: inline-block;
  width: 600px;
  height: 600px;
  border: solid 1px;
  background-color:dimgray;
  padding:15px;
  font-size: 20px;
  color: aliceblue
}
.second-column{
  float: right;
  display: block;
  width:600px;
  height: 600px;
  border:solid 1px;
  margin-right: 40px;
  font-family: fantasy;
  background-color: dimgray;
  font-size:20px;
  padding:15px;
  overflow-y: scroll;
  color: aliceblue;
}
body{
  background-color: darkslategray
}
h1{
  text-align: center;
  color: azure;
  font-family: 'Courier New', Courier, monospace;
}
textarea::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
} 
.second-column::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
} 
.second-column::-webkit-scrollbar-thumb {
  background-color:darkgray;
}
textarea::-webkit-scrollbar-thumb {
  background-color:darkgray;
}
